<h1><%= @employee&.name %>Job History</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Job Name</th>
      <th>Worked Date</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @assessments.each do |as| %>
      <tr>
        <td><%= as.id %></td>
        <td><%= job_name(as.job_id) %></td>
        <td><%= as.created_at.strftime("%d/%m/%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
