<div class="card-body">
  <div class="div-job">
    <p>
    <strong>Name:</strong>
    <%= @job.name %>
    </p>
    <p>
    <strong>Capacity:</strong>
    <%= @job.number_of_capacity %>
    </p>
 </div>
   
   
  <table class="table">
    <thead>
      <tr>
        <th>Employee Name</th>
        <th>Total working days</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @assessment.each do |as| %>
        <tr>
          <td><%= employee_name(as[0]) %></td>
          <td><%= count_days(as[0], as[1]) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
